@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');
@import "tailwindcss";

@theme {

}

/* CORES PARA MODO CLARO */
:root {
  --bg-color: #f1f5f9;      /* Cinza bem claro */
  --surface-color: #ffffff;  /* Branco */
  --text-color: #0f172a;     /* Azul quase preto */
  --border-color: #e2e8f0;   /* Cinza claro */
}

/* CORES PARA MODO ESCURO */
.dark {
  --bg-color: #020617;      /* Seu Azul Petróleo/Preto original */
  --surface-color: #0f172a;  /* Azul Petróleo médio */
  --text-color: #f8fafc;     /* Branco gelo */
  --border-color: #1e293b;   /* Cinza azulado escuro */
}

/* Aplicando ao Body */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}

/* Fix do Mapa */
.leaflet-container {
  width: 100% !important;
  height: 100% !important;
  z-index: 1;
}
.leaflet-control-zoom { display: none !important; }